@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-clr: #3ab4b6;
  --secondary-clr: #d2dc02;
  --tertiary-clr: #00ffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Navbar Section --start */
.navbar {
  display: flex;
  max-width: 1100px;
  height: 70px;
  margin: 1.5rem auto 0.6rem auto;
  /* background-color: #3ab4b6; */
  font-family: "Lato", sans-serif;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__logo a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #d2dc02;
  font-weight: 700;
  font-size: larger;
  font-style: italic;
  letter-spacing: 1px;
}

.navbar__menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__menu a {
  text-decoration: none;
  color: #3ab4b6;
  font-weight: 700;
  font-size: large;
  margin: 0 13px 0 13px;
  letter-spacing: 0.8px;
}
/* Navbar Section --end */

/* Image Slideshow --start */
/* Slideshow Title */
.slideshow-title {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
  color: #f2f2f2;
  background: #3ab4b6;
  padding: 10px 0;
  margin-bottom: 1.5rem;
  word-spacing: 3px;
}

.slideshow-title span {
  color: var(--tertiary-clr);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  border-radius: 1.5rem;
  box-shadow: 1px 10px 20px 4px rgba(0, 0, 0, 0.5);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #111;
  /* background: #f2f2f2; */
  font-size: 20px;
  font-weight: 700;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #3abddd;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Image Slideshow --end */

/* MediaQuery --start */

/* MediaQuery --end */
